@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --theme-color: #0077b6;
    --theme-color-10: rgba(0, 119, 182, 0.1);
    --theme-highlight: #00b4d8;
}

html {
    min-width: 350px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.text-theme {
    color: var(--theme-color);
}

.btn:hover {
    background-color: white !important;
    border: 1px solid var(--theme-color) !important;
    color: var(--theme-color) !important;
}

.btn-theme {
    background-color: var(--theme-color);
    color: white;
    border-radius: 16px;
}

.btn-theme-highlighted {
    background-color: var(--theme-highlight);
    color: white;
    border-radius: 16px;
}

.bg-theme {
    background-color: var(--theme-color);
}

.bg-card-10 {
    background-color: var(--theme-color-10);
    height: 100%;
    border-radius: 16px;
}

.border-theme {
    border: 1px solid var(--theme-color);
}